body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.custom-file-control:lang(en):empty::after{
  content: "Seleccione un Archivo..." !important;
}

#administrar,#home{
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  z-index: 1001;
}